.gitignore/
/descatalogado/
FontForge-2023-01-01-a1dad3e-x86_64.AppImage
Item Names and Tooltips/item_names (copy).json
script-workshop/
fonts/nuevo/out/kongtext.ttf.bk
fonts/nuevo/out/pixelmix.ttf-bk
fonts/nuevo/PixelSerif_16px_v02 (another copy).ttf
fonts/nuevo/PixelSerif_16px_v02 (copy).ttf
fonts/bk fonts modificadas.zip
